/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Audrey Talmi and this is the beginning of my CONTACT PAGE CSS for 318 Digital Typography November 2019 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/background.jpg)
		center center fixed no-repeat;
		background-size:cover;
		font-family: superior-title, serif;

	
	
}

.center {
    width: 80%;
	max-width: 800px;
	padding: 2%;
    margin: 100px auto;
	border-radius: 30px 150px;
 	background: rgba(256, 256, 256, .60); /*this uses opacity of 75% for the background color*/
	text-align: center;
	/*border: 4px dashed white;*/
}

   
#logo {
    margin-bottom: 50px;
	border: 40px;
	text-align: center;
}

/*h1 {
	font-family: superior-title, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}
*/
h2 {
	font-family: superior-title, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
    color: #996633;
    padding: 0px 0px;
	letter-spacing: 2px;
    margin: 0px auto 25px auto;
}

p {
	font-family: superior-title, serif;
	font-weight: 400;
	font-style: normal;	
	font-size: 1.2em;
    line-height: 1.6;
	padding: 0px 0;
	letter-spacing: 3px;
    color: #d2a679;
}
nav{
	font-family: superior-title, serif;
	font-size: 1.5em;
	width: 80%;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
}

nav ul  {
	list-style: none;
	text-align: center;
		letter-spacing: 2px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color:#604020 ;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}
nav ul li a:hover {
	color:#d2a679
}

nav ul li a{
	position: relative;
}

nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #333;
	height: 1px;
}
nav ul li a:hover:after {
	width: 100%;
}



/*
nav li{
	display:inline;
}

nav a{
	display:inline-block;
	padding:10 px
}

a{
	color:#444;
	text-decoration:none;
	font-weight:bold;
}
    
a:hover{
	color:black;
	background: pink;
}
*/

